.App {
  text-align: center;
}

.App-logo {
  margin-left: -18vmin;
  height: 65vmin;
  /* margin-top: -5vmin; */
  pointer-events: none;
  border-radius: 50%;

}

.App-logo2 {
  margin-left: -46vmin;
  margin-top: 1vmin;
  height: 11.5vmin;
  /* margin-top: -5vmin; */
  pointer-events: none;


}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  /* margin-left: 25vmin;
  margin-right: 25vmin; */
  /* margin-top: -10vmin; */
}

.App-link {
  color: #ff3131;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
